
@{
    ViewBag.Title = "SportAssociationManagerComponents";
}



@{
    ViewBag.Title = "SportAssociationManagerComponents";
}

<body style="font-size:20px">

    <h1>Sport Association Manager Components</h1>

    <hr />

    <h2>Choose what you want to do!</h2>

    <br />



    @Html.ActionLink("Add New Match", "AddNewMatch", "SportManager")

    <br />
    @Html.ActionLink("Delete Match", "DeleteMatch", "SportManager")

    <br />
    @Html.ActionLink("View All Upcoming Matches", "AllComingMatches", "SportManager")

    <br />
    @Html.ActionLink("View Already Played Matches", "AllPlayedMatches", "SportManager")

    <br />
    @Html.ActionLink("View Clubs Never Matched", "ClubsNeverMatched", "SportManager")

    <br />
    @Html.ActionLink("View All Matches", "AllMatches", "SportManager")

    <br />
    @Html.ActionLink("Show all clubs in the system", "AllClubs", "SportManager")

</body>






