@{
    ViewBag.Title = "ClubRepComponents";
}



@{
    ViewBag.Title = "ClubRepComponents";
}

<body style="font-size:20px">

    <h1>Club Representative Components</h1>

    <hr />

    <h2>Choose what you want to do!</h2>

    <br />



    @Html.ActionLink("View Club Info", "ViewClubData", "ClubRep")

    <br />

    @Html.ActionLink("View Upcoming Matches", "UpcomingMatches", "ClubRep")

    <br />

    @Html.ActionLink("View Available Stadiums On", "InputDate", "ClubRep")

    <br />

    @Html.ActionLink("Send Request", "SendRequest", "ClubRep")


    <br />

    @Html.ActionLink("Show all club representatives", "ShowRepsData", "ClubRep")

    <br />

    @Html.ActionLink("Show all stadium managers", "ShowManagersData", "ClubRep")

    <br />

    @Html.ActionLink("View All Host Requests", "AllHostRequest", "ClubRep")



</body>